{{#if website}}
	<a target="_blank" href="{{website}}" class="link home">
		<i class="fa fa-home" aria-hidden="true"></i>
	</a>
{{/if}}
{{#if twitter}}
	<a target="_blank" href="{{twitter_url twitter}}" class="link twitter">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</a>
{{/if}}
{{#if facebook}}
	<a target="_blank" href="{{facebook_url facebook}}" class="link facebook">
		<i class="fa fa-facebook" aria-hidden="true"></i>
	</a>
{{/if}}
