{{#if website}}
	<a target="_blank" href="{{website}}" class="link home" rel="noopener">
		<span class="icon-fa" data-name="home" />
	</a>
{{/if}}
{{#if twitter}}
	<a target="_blank" href="{{twitter_url twitter}}" class="link twitter" rel="noopener">
		<span class="icon-fa" data-name="twitter" />
	</a>
{{/if}}
{{#if facebook}}
	<a target="_blank" href="{{facebook_url facebook}}" class="link facebook" rel="noopener">
		<span class="icon-fa" data-name="facebook-f" />
	</a>
{{/if}}
