{{!< default}}
<section id="listhead">
	<div>
		<h1>全てのタグ</h1>
	</div>
</section>
<section id="taglist">
	<ul>
		{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
			{{#foreach tags}}
				<li class="tag" data-count="{{count.posts}}">
					<a href="{{url}}">{{name}} ({{count.posts}})</a>
				</li>
			{{/foreach}}
		{{/get}}
	</ul>
</section>
