{{!< default}}
<section id="listhead">
	<div>
		<h1>全てのタグ</h1>
	</div>
</section>
<section id="taglist">
	<ul>
		{{#get "tags" limit="all"}}
			{{#foreach tags}}
				<li><a href="{{url}}">{{name}}</a></li>
			{{/foreach}}
		{{/get}}
	</ul>
</section>
