/* ヘッダー固定時のスクロール調整用 */
html {
	@media (min-width: 840px) {
		scroll-padding-top: $header-thin-height;
	}
}

header {
	display: flex;
	height: $header-height;
	border-bottom: 6px solid #005bac;
	justify-content: space-between;
	color: #005bac;

	@media (max-width: 840px) {
		flex-direction: column;
		height: auto;
		max-height: $header-sm-height;
	}

	/* ヘッダー固定関連 */
	@media (min-width: 840px) {
		position: sticky;
		top: 0;
		z-index: 3;
		background: #fff;
		transition: height .25s;
		&.thin {
			height: $header-thin-height;
			.circleLogo {
				margin: 0.5rem 1rem;
				img {
					height: 2rem;
				}
			}
			ul.nav a {
				padding: 1rem 1rem 0;
			}
		}
		.circleLogo {
			transition: margin .25s;
			img {
				transition: height .25s;
			}
		}
		ul.nav a {
			transition: padding .25s;
		}
	}

	.circleLogo {
		margin-top: 1.6rem;
		@media (max-width: 840px) {
			margin: 1.6rem 0;
		}
	}
}

ul.nav {
	display: flex;
	margin: 0 1rem 0 0;
	li {
		list-style: none;
	}
	a {
		display: block;
		height: 100%;
		padding: 2.3rem 1rem 0 1rem;
		font-weight: 300;
		color: inherit;
		text-decoration: none;
		transition: 250ms background-color, 250ms color;
		word-break: keep-all;
		&:hover {
			background-color: #005bac;
			color: #fff;
		}
	}

	@media (max-width: 840px) {
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
		li {
			flex: 1 0 auto;
		}
		a {
			text-align: center;
			padding: .5rem 1rem;
		}
	}
}
