#featured {
	height: 25rem;
	max-height: calc(100vh - #{$header-height});
	@media (max-width: 840px) {
		height: 600px;
		max-height: calc(100vh - #{$header-sm-height});
	}

	.swiper-slide > a {
		display: block;
		position: relative;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background-size: cover;
		background-position: center;

		> img, > picture {
			object-fit: cover;
			height: 100%;
			width: 100%;
			[src*="/assets/logo/icon"] {
				opacity: .3;
			}
		}

		> .title {
			position: absolute;
			margin: 0;
			padding: 0;
			bottom: 0;
			color: #fff;
			background-color: rgba(0, 91, 172, .75);
			width: 100%;
			overflow-wrap: break-word;
			word-break: break-word;
			transition: 250ms padding, 250ms background-color;
			@media (max-width: 840px) {
				padding: 0 4em;
			}

			h1 {
				margin: 0;
				padding: 2em;
				padding-top: 1em;
				font-size: 2rem;
				text-align: center;
				@media (max-width: 840px) {
					padding: 1em;
					padding-bottom: 2em;
				}
			}
			p {
				margin: 0;
				padding: 0.5em;
				font-size: 1.5rem;
				text-align: right;
			}
		}
		&:hover {
			> .title {
				padding: 2em 0;
				background-color: rgba(0, 0, 0, .75);
				@media (max-width: 840px) {
					padding: 2em 4em;
				}
			}
		}
	}

	.swiper-button-prev, .swiper-button-next {
		background-color: rgba(255,255,255,.5);
		height: 100%;
		width: 3em;
		margin-top: 0;
		top: 0;
		transition: 250ms transform;
		&:hover {
			background-color: rgba(255,255,255,0.7);
			transform: scaleX(1.2);
		}
	}
	.swiper-button-prev {
		left: 0;
		&:hover {
			transform-origin: left;
		}
	}
	.swiper-button-next {
		right: 0;
		&:hover {
			transform-origin: right;
		}
	}
	.swiper-pagination-bullet {
		background-color: white;
	}
}
