article {
	.r15-warning {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		padding: 3rem;
		color: #a94442;
		background-color: #f2dede;
		border: 1px solid #ebccd1;
		font-size: 1.5rem;
		font-weight: 700;
	}
	.r15-warning-icon {
		height: 3rem;
		width: 3rem;
		margin-bottom: 2rem;
	}

	.kg-card-hascaption {
		width: fit-content;
		figcaption {
			color: #777;
			margin-top: 0.3em;
			text-align: center;
		}
	}

	.kg-image-card {
		margin: 1em 0;
	}

	.kg-gallery-card {
		display: block;
		margin: .4em .1em;
		border: 3px solid #ddd;
		border-radius: 2px;
	}
	.kg-gallery-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.kg-gallery-image {
			flex: 1 1;
			img {
				object-fit: contain;
				height: 100%;
				width: 100%;
			}
		}
	}

	.kg-bookmark-card {
		margin: 1em 0;
	}
	.kg-bookmark-container {
		display: flex;
		min-height: 148px;
		text-decoration: none;
		border-radius: 3px;
		box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
		&:hover {
			background-color: rgba(0,0,0,0.05);
			text-decoration: none;
			.kg-bookmark-thumbnail {
				mix-blend-mode: darken;
			}
		}
	}
	.kg-bookmark-content {
		max-width: 67%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 20px;
		@media (max-width: 600px) {
			padding: 15px;
		}
	}
	.kg-bookmark-title {
		color: #444444;
		font-size: 1.2rem;
		line-height: 1.4em;
		font-weight: 500;
		transition: color 0.2s ease-in-out;
	}
	.kg-bookmark-description {
		display: -webkit-box;
		overflow-y: hidden;
		margin-top: 12px;
		max-height: 48px;
		color: #222222;
		font-size: 1rem;
		line-height: 1.2em;
		font-weight: 500;

		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		@media (max-width: 600px) {
			margin-top: 6px;
		}
	}
	.kg-bookmark-thumbnail {
		position: relative;
		min-width: 33%;
		max-height: 100%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 0 3px 3px 0;
			object-fit: cover;
		}
	}
	.kg-bookmark-metadata {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 14px;
		color: #444444;
		font-size: 1rem;
		font-weight: 500;
		@media (max-width: 600px) {
			max-width: 100%;
			margin-top: 7px;
		}
	}
	.kg-bookmark-icon {
		margin-right: 8px;
		width: 22px;
		height: 22px;
	}
	.kg-bookmark-author {
		line-height: 1.5em;
		word-break: keep-all;
		&:after {
			content: "•";
			margin: 0 6px;
		}
	}
	.kg-bookmark-publisher {
		overflow: hidden;
		flex: 1 1;
		line-height: 1.3em;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #47D;
		word-break: keep-all;
		overflow-wrap: break-word;
		white-space: normal;
		@media (max-width: 600px) {
			overflow-wrap: normal;
		}
	}

	.kg-embed-card {
		max-width: 100%;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
		iframe {
			max-width: 100%;
		}
		twitter-widget {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.kg-code-card {
		margin-left: 0;
		margin-right: 0;
	}
}
