/****************/
/* BASIC STYLES */
/****************/
article h1,
article h2,
article h3 {
	margin-top: 1.4em;
}
article h1 {
	color: #005bac;
	font-weight: 200;
	padding: 0 0 .3em .1em;
	border-bottom: 1px dashed #aaa;
}
article h2 {
	color: #666;
	font-weight: 200;
	padding: .2em 0 .2em .6em;
	border-left: 4px solid #aaa;
}
article p {
	line-height: 1.8em;
}
article blockquote {
	color: #777;
	margin-left: 1em;
	padding: 1px 1em;
	border-left: 6px solid #ddd;
}
article code {
	font-family: "Source Code Pro", monospace;
}
article p code {
	border: 1px solid #eaeaea;
	background-color: #fafafa;
	border-radius: 2px;
	padding: .1em .3em;
	margin: 0 .1em;
}
article pre {
	overflow-x: auto;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 2px;
	padding: .8em;
	tab-size: 4;
	-o-tab-size: 4;
	-moz-tab-size: 4;
}
article li {
	margin: .4em 0;
}
article hr {
	height: 1px;
	border: none;
	border-top: 1px solid #aaa;
	margin: 2em 0;
}
article a {
	color: #47d;
	text-decoration: none;
}
article a:hover {
	text-decoration: underline;
}
article table {
	border-collapse: collapse;
}
article table td,
article table th {
	border: 1px solid #ddd;
	padding: .3em 1em;
}
article table th {
	background-color: #fafafa;
}
article mark {
	background-color: #fd9;
}
article img {
	max-width: 100%;
}


/********************/
/* CONTAINER STYLES */
/********************/
article .success, article .info, article .warning, article .danger {
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 4px;
}
article .success p:first-of-type, article .info p:first-of-type, article .warning p:first-of-type, article .danger p:first-of-type {
  margin-top: 0;
}
article .success p:last-of-type, article .info p:last-of-type, article .warning p:last-of-type, article .danger p:last-of-type {
  margin-bottom: 0;
}
article .success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
article .info {
  color: #31708f;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}
article .warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
}
article .danger {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}


/****************/
/* KATEX STYLES */
/****************/
article .katex-display {
	overflow-x: auto;
	overflow-y: hidden;
}


/***************/
/* HLJS STYLES */
/***************/
article .blog-code {
  position: relative;
}
article .blog-code code {
	overflow-x: visible;
	padding: 0;
}
article .blog-code cite {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 4px;
  font-size: .8em;
  color: #333;
  background: #ddd;
}


/*************/
/* KG STYLES */
/*************/
article .kg-card figcaption {
	text-align: center;
}

article .kg-image-card {
	margin: 0;
}
article .kg-image-card img {
	display: block;
	margin: .4em .1em;
	border: 3px solid #ddd;
	border-radius: 2px;
}

article .kg-gallery-card {
	display: block;
	margin: .4em .1em;
	border: 3px solid #ddd;
	border-radius: 2px;
}
article .kg-gallery-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
article .kg-gallery-row .kg-gallery-image {
	flex: 1 1;
}
article .kg-gallery-row .kg-gallery-image img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

article .kg-bookmark-card {
	margin: 0;
}
article .kg-bookmark-container {
	display: flex;
	min-height: 148px;
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}
article .kg-bookmark-container:hover {
	background-color: rgba(0,0,0,0.05);
	text-decoration: underline;
	text-decoration-color: #CCCCCC;
}
article .kg-bookmark-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 20px;
}
article .kg-bookmark-title {
	color: #444444;
	font-size: 1.4rem;
	line-height: 1.4em;
	font-weight: 600;
	transition: color 0.2s ease-in-out;
}
article .kg-bookmark-description {
	display: -webkit-box;
	overflow-y: hidden;
	margin-top: 12px;
	max-height: 48px;
	color: #222222;
	font-size: 1.2rem;
	line-height: 1.2em;
	font-weight: 400;

	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
article .kg-bookmark-thumbnail {
	position: relative;
	min-width: 33%;
	max-height: 100%;
}
article .kg-bookmark-thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0 3px 3px 0;

	object-fit: cover;
}
article .kg-bookmark-metadata {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 14px;
	color: #444444;
	font-size: 1.2rem;
	font-weight: 400;
}
article .kg-bookmark-icon {
	margin-right: 8px;
	width: 22px;
	height: 22px;
}
article .kg-bookmark-author {
	line-height: 1.5em;
}
article .kg-bookmark-author:after {
	content: "•";
	margin: 0 6px;
}
article .kg-bookmark-publisher {
	overflow: hidden;
	max-width: 240px;
	line-height: 1.3em;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #47D;
	word-break: break-all;
	white-space: normal;
}

article .kg-embed-card {
	max-width: 100%;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}
article .kg-embed-card iframe {
	max-width: 100%;
}
article .kg-embed-card twitter-widget {
	margin-left: auto;
	margin-right: auto;
}

article .kg-code-card {
	margin-left: 0;
	margin-right: 0;
}
