footer {
	color: #fff;
	background-color: #333;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	text-align: center;

	contain: content;

	@media (max-width: 700px) {
		flex-direction: column-reverse;
		.circleLogo {
			margin: 1.6rem 0;
		}
	}
}
address {
	display: flex;
	justify-content: center;
	> a {
		padding: .6em 0;
		width: 90px;
		height: 90px;
		font-size: 2.2rem;
		margin-left: 2px;
		color: inherit;
		text-decoration: none;
	}
	.twitter-footer {
		background-color: #1B95E0;
	}
	.facebook-footer {
		background-color: #3B5998;
	}
	.youtube-footer {
		background-color: #FF0000;
	}
}
@media (max-width: 700px) {
	.copy {
		padding-top: 3rem;
	}
	address > div {
		padding: .4em 0;
	}
}

.circleLogo {
	margin: 1rem 1.8rem;
	display: flex;
	justify-content: center;
	img {
		height: 3rem;
		max-width: 90vw;
	}
}

.postlist {
	padding: 2em 0;
	contain: content;

	h1 {
		font-weight: 500;
		font-size: 1.4rem;
		color: #888;
		text-align: center;
	}
	.articles {
		display: flex;
		flex-wrap: wrap;
	}
	.article {
		flex: 1 0 auto;
		position: relative;
		margin: 1px 0 0 1px;
		height: 50vh;
		max-height: 20em;
		background-size: cover;
		background-position: center;
		color: inherit;
		text-decoration: none;
		&.noimg {
			background-color: #005bac;
			overflow: hidden;
			.background {
				width: 100%;
				height: 100%;
				object-fit: contain;
				margin-left: 100px;
				opacity: .3;
			}

			.meta {
				background-color: transparent;
			}
		}

		width: calc(100% / 3 - 3px);
		&:nth-of-type(1), &:nth-of-type(4) {
			margin-left: 0;
		}
		@media (max-width: 1024px) {
			width: calc(100% / 2 - 2px);
			&:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(5) {
				margin-left: 0;
			}
		}
		@media (max-width: 600px) {
			width: 100%;
			margin-left: 0;
		}

		.background img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.meta {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 1em;
			color: #fff;
			background-color: rgba(0, 91, 172, .75);
			transition: 250ms padding, 250ms background-color;
			small {
				font-weight: 200;
			}
			strong {
				font-weight: 500;
				font-size: 1.2em;
			}
		}

		&:hover {
			.meta {
				padding: 2em 1em;
				background-color: rgba(0, 0, 0, .75) !important;
			}
		}

		.author {
			display: flex;
			padding-top: 1em;

			img {
				width: 40px;
				height: 40px;
				border-radius: 20px;
				border: 1px solid rgba(255, 255, 255, .5);
				background-color: #fff;
			}
			span {
				padding: .5em 0 0 .5em;
			}
			.others {
				padding-left: .3em;
			}
		}
	}
}

.sitemap {
	display: flex;
	padding: 1em 2em;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #667;
	overflow: hidden;

	contain: content;

	@media (max-width: 600px) {
		flex-direction: column;
	}

	a {
		color: inherit;
		text-decoration: none;
		margin: 0 1em;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: 600px) {
			margin: 0.5em 0;
		}
	}
}

a {
	&.home {
		color: #76B8E2;
	}
	&.twitter {
		color: #1B95E0;
	}
	&.facebook {
		color: #3B5998;
	}
}

.icon-fa {
	vertical-align: middle;
}
