* {
	box-sizing: border-box;
}
html {
	font-family: "Noto Sans JP", sans-serif;
	word-break: break-all;
	background: repeating-linear-gradient(
		-45deg,
		rgba(0, 91, 172, .1),
		rgba(0, 91, 172, .1) 10px,
		#ffffff 10px,
		#ffffff 20px
	);
}
body {
	margin: 0 auto;
	max-width: 1280px;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
	overflow-x: hidden;
}
