article {
	margin: 5em auto;
	width: 80%;
	overflow-wrap: break-word;
	p, h1, h2, h3, h4, h5, h6 {
		content-visibility: auto;
	}
	p, .kg-image-card {
		.orig-link {
			display: inline-block;
			> img {
				display: block;
				margin: .4em .1em;
				border: 3px solid #ddd;
				border-radius: 2px;
			}
		}
	}
	
	.kg-image-card .orig-link >img {
		width: auto;
		height: auto;
	}
		
	twitter-widget {
		overflow-x: hidden;
	}
}

.caption {
	display: inline-flex;
	flex-direction: column;
	background-color: #eee;
	text-align: center;
	padding: .6em;
	margin: .1em;
	img {
		display: inline-block;
	}
	span {
		margin-top: .3em;
	}
}

:not(article) #share {
	padding: 2em 0;
	text-align: center;

	contain: content;

	h1 {
		font-weight: 500;
		font-size: 1.4rem;
		color: #888;
	}
	> div {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		> * {
			margin: 0.1rem;
		}
		#web-share {
			display: inline-block;
			padding: .2em;
			background-color: #aaa;
			border-radius: .2em;
			font-size: .8em;
			height: 28px;
			padding: 0.4em;
			user-select: none;
			cursor: pointer;
			&.disabled {
				display: none;
			}

			.icon-fa[data-name='share-alt'] {
				vertical-align: baseline
			}
			span {
				vertical-align: text-top;
				margin-left: 0.3em;
			}
		}
	}
}

.authors-detail {
	margin: 0 auto;
	width: 70%;
	padding: 1em;
	border-radius: 2px;
	border: 1px solid #aaa;

	contain: content;

	.author-detail {
		display: flex;
		@media (max-width: 500px) {
			flex-direction: column;
		}
		&:not(:first-child) {
			margin-top: 1em;
		}

		img {
			flex: 0 0 auto;
			width: 80px;
			height: 80px;
			border-radius: 64px;
			border: 1px solid #ddd;
			background-color: #fff;
			@media (max-width: 500px) {
				margin-left: 1em;
			}
		}
		div {
			margin-left: 1em;
		}
		a {
			text-decoration: none;
		}
		small {
			color: #999;
			font-weight: 400;
		}
		.name {
			color: #666;
			font-weight: 400;
			font-size: 1.8rem;
		}
		.link {
			padding: 0em .2em;
			position: relative;
			top: -2px;
			left: .2em;
		}
		p {
			margin: .5em 0;
		}
	}
}
