#about {
	text-align: center;
	padding: 2em 5%;
	word-break: keep-all;
	overflow-wrap: break-word;
	h1 {
		font-weight: 400;
		font-size: 1.4rem;
		color: #888;
	}
	h2 {
		margin: 1em auto;
		font-weight: 300;
		font-size: 1.8rem;
		color: #005bac;
		word-break: keep-all;
		white-space: nowrap;
	}
	h3 {
		font-weight: 400;
		font-size: 1rem;
	}
}

#about, #postlist {
	.readmore {
		text-decoration: none;
		background-color: #005bac;
		margin-top: 1em;
		padding: .5em 2em;
		border-radius: 2px;
		color: #FFFFFF;
		cursor: pointer;
		display: inline-block;
		transition: 250ms background-color;
		&:hover {
			background-color: #444;
		}
	}
}

.readmore-container {
	font-size: 1.4em;
	padding: 1em;
	text-align: center;
}

#pickup {
	padding: 2em 0;
	color: #fff;
	background-color: #333;
	text-align: center;
	h1 {
		font-weight: 400;
		font-size: 1.6rem;
	}
	h2 {
		font-weight: 400;
		font-size: 1.2rem;
		display: inline-block;
		padding: 8px;
		border-bottom: 4px solid #005bac;
		a {
			color: inherit;
			&:not(:hover) {
				text-decoration: none;
			}
		}
	}
	@media (max-width: 600px) {
		.pickup-series {
			position: relative;
		}
		.pickup-entries-wrapper {
			overflow-x: scroll;
			overflow-y: hidden;
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 5%;
				background: linear-gradient(90deg, transparent, #333)
			}
		}
		.pickup-entries {
			width: max-content;
		}
	}
	.pickup-entries {
		a {
			width: 256px;
			height: 256px;
			margin: 6px;
			position: relative;
			display: inline-block;
			text-decoration: none;
			color: #333;
			background-color: #fff;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.title {
			padding: 0 1em;
			text-align: left;
			font-size: .8rem;
			position: absolute;
			bottom: 0;
			background: rgba(255,255,255,.8);
			width: 100%;
			transition: background-color .25s, padding .25s;
		}
		a:hover .title {
			background: rgba(255,255,255,.9);
			padding: 1em;
		}
		h3 {
			display: inline-block;
			padding: 0 2em .4em .4em;
			border-bottom: 3px solid #005bac;
		}
	}
}

#news {
	padding: 2em 0;
	h1 {
		font-weight: 400;
		font-size: 1.4rem;
		color: #888;
		text-align: center;
	}
	.news-elements {
		display: flex;
		flex-wrap: wrap;
		> div {
			flex: 1 0 auto;
			width: 50%;
			padding: 1em;
			@media (max-width: 600px) {
				width: 100%;
			}
		}
	}
	.headline-entry {
		display: flex;
		flex-direction: row;
		padding: 0 1em;
		border-top: 1px solid #ddd;
		color: inherit;
		text-decoration: none;
		transition: 250ms background-color;
		&:last-child {
			border-bottom: 1px solid #ddd;
		}
		&:hover {
			background-color: #eee;
		}

		img {
			width: 80px;
			height: 80px;
			padding: 4px;
			object-fit: cover;
		}
		small {
			color: #aaa;
		}
	}
	.headline-text {
		display: flex;
		margin-left: 1em;
		flex-direction: column;
		justify-content: center;
	}
	.twitter-timeline {
		min-width: auto !important;
	}
}
