#featured {
	height: 600px;
	max-height: calc(100vh - #{$header-height});
	@media (max-width: 840px) {
		max-height: calc(100vh - #{$header-sm-height});
	}

	.swiper-slide > a {
		display: block;
		position: relative;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background-size: cover;
		background-position: center;
		transition: 250ms opacity;
		&:hover {
			opacity: .5;
		}

		> img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			&.noimg {
				opacity: .3;
			}
		}

		> div {
			position: absolute;
			margin: 0;
			padding: 0;
			bottom: 0;
			color: #fff;
			background-color: rgba(0, 91, 172, .75);
			width: 100%;
			overflow-wrap: break-word;
			word-break: break-word;
			transition: 250ms padding, 250ms background-color;
			&:hover {
				padding: 2em 0;
				background-color: rgba(0, 0, 0, .75);
			}

			h1 {
				margin: 0;
				padding: 2em;
				padding-top: 1em;
				background-color: rgba(0, 91, 172, .8);
				font-size: 2rem;
				text-align: center;
			}
			p {
				margin: 0;
				padding: 0.5em;
				font-size: 1.5rem;
				text-align: right;
			}
		}
	}
}

#about {
	text-align: center;
	padding: 2em 5%;
	h1 {
		font-weight: 400;
		font-size: 1.4rem;
		color: #888;
	}
	h2 {
		margin: 1em auto;
		font-weight: 300;
		font-size: 1.8rem;
		color: #005bac;
	}
	h3 {
		font-weight: 400;
		font-size: 1rem;
	}
}

#about, #postlist {
	.readmore {
		text-decoration: none;
		background-color: #005bac;
		margin-top: 1em;
		padding: .5em 2em;
		border-radius: 2px;
		color: #FFFFFF;
		cursor: pointer;
		display: inline-block;
		transition: 250ms background-color;
		&:hover {
			background-color: #444;
		}
	}
}

.readmore-container {
	font-size: 1.4em;
	padding: 1em;
	text-align: center;
}

#pickup {
	padding: 2em 0;
	color: #fff;
	background-color: #333;
	text-align: center;
	h1 {
		font-weight: 400;
		font-size: 1.6rem;
	}
	.pickup-series h2 {
		font-weight: 400;
		font-size: 1.2rem;
		display: inline-block;
		padding: 8px;
		border-bottom: 4px solid #005bac;
	}
	.pickup-entries {
		a {
			width: 256px;
			margin: 6px;
			display: inline-block;
			text-decoration: none;
			color: #333;
			background-color: #fff;
		}
		h3 {
			display: inline-block;
			padding: 0 2em .4em .4em;
			border-bottom: 3px solid #005bac;
		}
		img {
			width: 100%;
		}
		div {
			padding: 0 1em;
			text-align: left;
			font-size: .8rem;
		}
		p {
			margin-top: 0;
		}
	}
}

#news {
	padding: 2em 0;
	h1 {
		font-weight: 400;
		font-size: 1.4rem;
		color: #888;
		text-align: center;
	}
	.news-elements {
		display: flex;
		flex-wrap: wrap;
		> div {
			flex: 1 0 auto;
			width: 50%;
			padding: 1em;
			@media (max-width: 600px) {
				width: 100%;
			}
		}
	}
	.headline-entry {
		display: flex;
		flex-direction: row;
		padding: 0 1em;
		border-top: 1px solid #ddd;
		color: inherit;
		text-decoration: none;
		transition: 250ms background-color;
		&:last-child {
			border-bottom: 1px solid #ddd;
		}
		&:hover {
			background-color: #eee;
		}

		img {
			width: 80px;
			height: 80px;
			padding: 4px;
			object-fit: cover;
		}
		small {
			color: #aaa;
		}
	}
	.headline-text {
		display: flex;
		margin-left: 1em;
		flex-direction: column;
		justify-content: center;
	}
	.twitter-timeline {
		min-width: auto !important;
	}
}
