:not(article) #featured {
	height: 25rem;
	max-height: calc(100vh - #{$header-height});
	@media (max-width: 840px) {
		height: 600px;
		max-height: calc(100vh - #{$header-sm-height});
	}

	contain: strict;

	.splide__track {
		height: 100%;
	}

	.splide__slide > a {
		display: block;
		position: relative;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background-size: cover;
		background-position: center;

		> picture img, > img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			&[src*="/assets/logo/icon"] {
				opacity: .3;
			}
		}

		> .title {
			position: absolute;
			margin: 0;
			padding: 0;
			bottom: 0;
			color: #fff;
			background-color: rgba(0, 91, 172, .75);
			width: 100%;
			overflow-wrap: break-word;
			word-break: break-word;
			transition: 250ms padding, 250ms background-color;
			@media (max-width: 840px) {
				padding: 0 4em;
			}

			h1 {
				margin: 0;
				padding: 2em;
				padding-top: 1em;
				font-size: 2rem;
				text-align: center;
				@media (max-width: 840px) {
					padding: 1em;
					padding-bottom: 2em;
				}
				@media (max-width: 600px) {
					padding: 0.5em;
					padding-bottom: 1.5em;
				}
			}
			p {
				margin: 0;
				padding-top: 0.5em;
				font-size: 1.5rem;
				text-align: right;
				@media (max-width: 840px) {
					text-align: center;
				}
			}
		}
		&:hover {
			> .title {
				padding: 2em 0;
				background-color: rgba(0, 0, 0, .75);
				@media (max-width: 840px) {
					padding: 2em 4em;
				}
			}
		}
	}
}
