name: automatic build
on:
  push:
    branches:
      - master
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: install
        run: yarn install
      - name: build
        run: npm run build
      - name: commit
        run: |
          git checkout built
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action Build"
          git commit -m "Automatic Build" -a
      - name: push
        uses: ad-m/github-push-action@02b0b75d447f0098d40d0d65a3e6cdf2119e6f60
        with:
          github_token: ${{ secrets.GitHubToken }}
